*{
	margin: 0;
	padding: 0;
}

body{
	background: url("https://cdn.pixabay.com/photo/2016/03/27/22/44/fresh-1284562_960_720.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
}

.sidenav{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.sidenav a{
	display: block;
	text-decoration: none;
	background: #fff;
	padding: 55px 20px 55px 50px;
	margin: 5px 0;
	width: 150px;
	box-shadow: 2px 2px 5px 0px rgb(0,0,0);
	position: relative;
	color: #051D41;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	margin-left: -160px;
	transition: 0.5s;
}



.sidenav a span{
	float: right;
	width: 60px;
	height: 100%;
	line-height: 120px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	background: #051D41;
	position: absolute;
	right: 0;
	top: 0;
}

.sidenav a:hover{
	margin-left: 0;
}

.login-button{
	position: absolute;
	right: 7%;
	top: 2%;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	border-style: solid;
	border-radius: 20px;
	padding: 8px;
	border-color: #fff;
	border-width: 1px;
	letter-spacing: 2px;
	background: rgb(0,0,0,0.3);
}

.login-button:hover{
	background: rgb(0,0,0,0.5);
}

.logo{
	color: #fff;
	position: absolute;
	left: 1%;
	top: 1%;
	text-shadow: 2px 2px rgb(0,0,0)
}

.logo h1{
	font-size: 20px;
}

.logo span{
	font-size: 40px;
}