*{
	margin: 0;
	padding: 0;
}

body{
	background: url("https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380_960_720.jpg") no-repeat;
	background-size: cover;
	height: 100vh;
}

.sidenav{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.sidenav a{
	display: block;
	text-decoration: none;
	background: #ffefe6;
	padding: 55px 20px 55px 50px;
	margin: 5px 0;
	width: 150px;
	box-shadow: 2px 2px 5px 0px rgb(0,0,0);
	position: relative;
	color: #051D41;
	text-align: left;
	font-weight: bold;
	font-size: 20px;
	margin-left: -160px;
	transition: 0.5s;
}



.sidenav a span{
	float: right;
	width: 60px;
	height: 100%;
	line-height: 120px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	background: #051D41;
	position: absolute;
	right: 0;
	top: 0;
}

.sidenav a:hover{
	margin-left: 0;
}

.login-button{
	position: absolute;
	right: 7%;
	top: 2%;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	border-style: solid;
	border-radius: 20px;
	padding: 8px;
	border-color: #fff;
	border-width: 1px;
	letter-spacing: 2px;
	background: rgb(0,0,0,0.3);
}

.login-button:hover{
	background: rgb(0,0,0,0.5);
}

.logo{
	color: #fff;
	position: absolute;
	left: 1%;
	top: 1%;
	text-shadow: 2px 2px rgb(0,0,0)
}

.logo h1{
	font-size: 20px;
}

.logo span{
	font-size: 40px;
}

.container{
	display: flex;
	background: rgb(0,0,0,0.4);
	position: fixed;
	left: 28%;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	width: 50%;
	flex-direction: row;
	justify-content: space-around;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(0,0,0);
	
}

.items{
	padding: 10px;
	color: #fff;
	background: #051D41;
	margin: 5px 0;
	width: 45%;
	height: 500px;
	box-sizing: border-box;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(0,0,0);
}

.search-bar .info{
	width: 45%;
	border: none;
	padding: 10px;
	font-weight: bold;
	border-radius: 5px;
}

.list{
	width: 75%;
	height: 75%;
	overflow: scroll;
	overflow-x: hidden;
	background: #fff;
	color: rgb(0,0,0);
	position: relative;
	left: 13%;
	bottom: 5%;
	top: 5%;
}

.additem{
	width: 75%;
	height: 75%;
	overflow: scroll;
	overflow-x: hidden;
	background: #fff;
	color: rgb(0,0,0);
	position: relative;
	left: 13%;
	bottom: 5%;
	top: 5%;
}